<div class="list-table-container" >
  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">  <a routerLink="{{element.id}}">{{element.name}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="cartonCost">
      <th mat-header-cell *matHeaderCellDef> Carton Price </th>
      <td mat-cell *matCellDef="let element"> {{element.cartonCost}} </td>
    </ng-container>

    <ng-container matColumnDef="calculate">
    <th mat-header-cell *matHeaderCellDef> Calculate </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="primary" aria-label="add to cart" (click)="openDialog(element)">
        <mat-icon>+</mat-icon>
      </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="10" [length]="totalElements"
                 (page)="nextPage($event)">
  </mat-paginator>
</div>



